bootloader_build/*
#!bootloader_build/**/.*.config

kernel_build/*
!kernel_build/linux-3.14.26/.*.config

filesystem_build/*
!filesystem_build/**/.*.config

!.*.config

tool_chain/gcc-linaro-arm-linux-gnueabihf-4.9-2014.09_linux/*
